wheel
requests==2.31.0
beautifulsoup4==4.12.3
selenium==4.20.0
geopy==2.4.1
shapely==2.0.4
xgboost==2.0.3
featuretools==1.31.0
scipy==1.13.0
scikit-learn==1.4.2
tqdm==4.66.4
plyer==2.1.0
ipython==8.24.0
pyshp==2.3.1
geojson==3.1.0
